/* MOBILE */
#burger {
  position: absolute;
  top: 80px;
  right: 15px;
  height: 40px;
}

#welcome {
  display: none;
}

.filter-ui {
  background:#fff;
  position:absolute;
  top:125px;
  right:15px;
  z-index:100;
  padding:10px;
  border-radius:3px;
}

#map-leaflet {
  width: 100%;
  height: calc(100vh - 57px);
  font-family: "Lato";
  font-variant: caps;
}

.slogan {
  font-size: 25px;
  font-family: "Fugaz One";
}

#authorize {
  width: 100% !important;
  height: 350px !important;
  position: absolute;
  left: 50%;
  bottom: 0px;
  background-color: #f7f5f5;
  transform: translate(-50%, 0);
  text-align: center;
  padding: 15px 15px 25px 15px;
  z-index: 10;
}

#filterButton1Background, #filterButton2Background, #filterButton3Background {
  background-color: #726363;
}

#filterButton1Icon, #filterButton2Icon, #filterButton3Icon {
  color: #f7f5f5;
}

#logo {
  left: 10px;
  top: 4px;
  position: absolute;
}

/* DESKTOP */
@media only screen and (min-width: 1000px)
{
  #burger {
    position: absolute;
    top: 17px;
    right: 20px;
    height: 40px;
  }

  .filter-ui {
    background:#fff;
    position:absolute;
    top:75px;
    right:15px;
    z-index:100;
    padding:10px;
    border-radius:3px;
  }

  #welcome {
    display: block;
  }

  #map-leaflet {
    width: 100%;
    height: calc(100vh - 65px);
    font-family: "Lato";
    font-variant: caps;
  }

  .slogan {
    font-size: 50px;
    font-family: "Fugaz One";
  }

  #authorize {
    width: 100% !important;
    height: 400px !important;
    position: absolute;
    left: 50%;
    bottom: 0px;
    background-color: #f7f5f5;
    transform: translate(-50%, 0);
    text-align: center;
    padding: 15px 15px 25px 15px;
    z-index: 10;
  }

  #filterButton1Background, #filterButton2Background, #filterButton3Background {
    background-color: #f7f5f5;
  }

  #filterButton1Icon, #filterButton2Icon, #filterButton3Icon {
    color: #726363;
  }

  #logo {
    left: 14px;
    top: 10px;
    position: absolute;
  }
}

nav {
  background-color: #5ecacd !important;
}

body { 
  margin:0; 
  padding:0; 
}
  
.brand-logo {
  font-family: "Fugaz One";
}

#welcome {
  position: absolute;
  top: 22px;
  left: 68px;
  color: #f7f5f5; 
  z-index: 100;
  font-family: "Roboto";
}

.checkbox-default[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #ef8233;
  background-color: #ef8233;
}

#ListItButton {
  position: absolute;
  background-color: #ef8233 !important;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 5%;
  font-family: "Fugaz One";
  color: #f7f5f5;
}

.FormButtonText {
  font-family: "Fugaz One";
}

#availabilityButton {
  margin-bottom: 30px;
  background-color: #5ecacd;
}

#floating-buttons {
  top: 0px;
}

#authorize-button {
  background-color: #5ecacd !important;
  font-family: "Fugaz One";
  color: #f7f5f5;
}

#addaccount-button {
  background-color: #5ecacd !important;
  font-family: "Fugaz One";
  color: #f7f5f5;
}

#login-label {
  font-family: "Roboto";
  color: #726363;
}

#nav-icon1 {
  width: 35px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #f7f5f5;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 12px;
}

#nav-icon1 span:nth-child(3) {
  top: 24px;
}

#nav-icon1.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#mapButton {
  margin-right: 20px;
  background-color: #5ecacd;
}

#markItButton {
  background-color: #ef8233 !important;
}

#uploadButton {
  background-color: #5ecacd;
}

#deleteButton {
  background-color: #5ecacd;
}

.myHeader {
  color: #726363;
}